body {
    font-family: Arial, sans-serif;
    height: 100vh;
    background-color:rgb(244, 238, 230);
    margin: 0;
    padding: 0;
}

h1 {
    font-family: 'Permanent Marker', cursive;
    font-weight: lighter;
    font-size: 48px;
    text-align: center;
}

table {
    position: relative;
    left: 50%;
    transform: translate(-50%);
    width: 100%;
    max-width: 800px;
    border-collapse: separate;
    border-spacing: 0;
    background-color: white;
    border: 1px solid #ccc;
    padding: 40px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

table th {
    font-family: 'Permanent Marker', cursive;
    font-weight: lighter;
    font-size: 24px;
    padding: 20px; 
    text-align: center;
}

td, th {
    border-bottom: 1px solid #ccc;
    padding: 20px;
    text-align: center;
}

#book-button-container {
    padding-bottom: 30px;
}

/* inside popup box*/
div {
  margin-bottom: 10px;
}

/*inside popup box*/
label {
    display: inline-block;
    width: 80px;
    font-family: 'Permanent Marker', cursive;
}

input {
    width: 200px;
    max-width: 100%;
}

input[type=checkbox] {
    line-height: normal;
    width: 20px;
    height: 20px;
}

input[type=text] {
    width: 200px;
    height: 20px;
    border: 1px solid black;
}

button {
    display: block;
    margin: 10px auto;
    color: white;
    border: none;
    padding: 10px;
    background-color: gray;
    font-weight: bold;
    font-size: 14px;
}

button:hover {
    background: lightslategray;
}

.popup-button-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.popup-button {
    flex: 1;
    padding: 10px;
    
}
.error {
    color: red;
    padding-top: 8px;
    text-align: right;
}

#bookList {
    margin-top: 20px;
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    border: 1px solid #ccc;
    padding: 40px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    z-index: 999;
}

.read-status-button {
    background-color: #EA4C89;
}

.read-status-button:hover {
    background-color: #F082AC;
}

/*mobile responsive code below*/

@media screen and (max-width: 600px) {
    h1 {
        font-size: 28px;
    }
    table {
        max-width: 90%;
        margin: 0 auto;
    }
    table th, table td {
        padding: 10px;
        font-size: 16px;
    }
    div {
        margin-bottom: 15px;
    }
    input, button {
        width: 100%;
        font-size: 16px;
    }
    .error {
       
        bottom:-25px;
        font-size: 12px;

    }
    .popup-button-container {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}